body{
    background: #e8d2e7;
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
  }
  
  .container{
    display:flex;
      align-items:center;
      justify-content:center;
      height:100vh;
      width:100%;
  }
  input[type=text] {
    padding: 10px;
      border-radius: 10px;
      background-color: #e6ebe7;
      color: #2e332f;
  }
  .form-box{
      width:380px;
      height:450px;
      background-color:#ffffff;
      padding:20px;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
  }
  .welcomeBackText{
    width:250px;
    height:450px;
    background-color:#7c777b;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
  }
  .header-form{
    margin-bottom:15px;
  }
  button{
    margin-top:40px;
    margin-bottom:10px;
    background-color: #279cf5;
    color: #002b5c;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    font-weight: bold;
  }
  .message{
    display:flex;
    justify-content:space-between
  }
  .social{
    display:flex;
    justify-content:space-around;
    padding:30px;
  }
  
  .anchoerText{
    color: #acd1e9;
  }
  
  .social i{
    font-size:35px;
  }
  
  .social i:hover{
    color:red;
    cursor:pointer;
  }
  
  div#WText {
    transform: rotate(-30deg);
  }
  
  .bookText {
    color:#d65337;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 175px;
  }
  
  .textAnimiStyle{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    top: 175px;
    right: 29px;
  }
  
  .iconImg{
    width: 8%;
      position: relative;
      right: 38px;
      top: 10px;
  }
  
  .customError{
    color:red;
    font-size: 14px;
  }
  
  
  